# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron


*~
*.log
*.blg
*.synctex.gz
*.zip

#MOM.r#
#simTot.r#
MOM.log
MOM.r~
MOM.synctex.gz
MOM.tex~
Mest.blg
Mest.log
Mest.out
Mest.tex~
Replication Code.zip
Rplots.pdf
ass.out
assStan.out
assStan2.out
assistments.out
bayesSim.out
carrolletal06p373-stacked-EEs.pdf
coverBetaN.jpg
ct.out
ctAnalysis.out
ctResults.RData
export
figure/
gotv.tar/
mle.out
mom2step.r~
momStan.r~
ps.rds
ps.stan~
readSim.r~
rmseBetaN.jpg
sim.r~
sim1.RData
sim722.out
sim726.out
sim729.out
simResults/
simResults1-21/
simTot.r~
smallerSim.out
stanMod.RData
try.r~
writeUps/#Mest.tex#
writeUps/cl.png
writeUps/ctResults.jpg
writeUps/effects.png
writeUps/reassignmentPer.png
writeUps/shortTalk.aux
writeUps/shortTalk.log
writeUps/shortTalk.nav
writeUps/shortTalk.out
writeUps/shortTalk.pdf
writeUps/shortTalk.snm
writeUps/shortTalk.tex
writeUps/shortTalk.tex~
writeUps/shortTalk.toc
writeUps/stranger.jpg
writeUps/talk.aux
writeUps/talk.log
writeUps/talk.nav
writeUps/talk.out
writeUps/talk.snm
writeUps/talk.tex
writeUps/talk.tex~
writeUps/talk.toc	